.app {
  background: $background-color;
  color: $secondary-color;
  height: 100vh;
  font-family: "Arial";
  @include flex-center;

  .home__button {
    margin-top: 2vh;
  }
}

.mapComponent {
  width: 100vw;
  height: 100vh;
}
